In [1]:
# Dependencies 
import requests
import json
import pandas as pd
import numpy as np
import csv
from pprint import pprint

# Google developer API key
from config import gkey

In [2]:
Zip_code = [33114, 33002, 33018, 33017, 33016, 33015, 33014, 33013, 33012, 33011, 33010, 33092, 
         33090, 33039, 33035, 33034, 33031, 33032, 33030, 33033, 33149, 33181, 33182, 33183, 
         33184, 33185, 33186, 33187, 33188, 33189, 33190, 33180, 33179, 33178, 33166, 33167, 
         33168, 33169, 33172, 33173, 33174, 33175, 33176, 33177, 33165, 33193, 33194, 33247, 
         33255, 33256, 33257, 33261, 33265, 33266, 33269, 33280, 33283, 33245, 33243, 33242, 
         33196, 33197, 33199, 33206, 33222, 33231, 33233, 33234, 33238, 33299, 33296, 33164, 
         33101, 33130, 33131, 33132, 3313, 33134, 33135, 33136, 33137, 33138, 33129, 33128, 
         33127, 33102, 33106, 33111, 33112, 33116, 33122, 33124, 33125, 33126, 33170, 33156, 
         33158, 33157, 33161, 33155, 33162, 33153, 33152, 33151, 33150, 33163, 33142, 33143, 
         33144, 33145, 33146, 33147, 33159, 33109, 33139, 33141, 33154, 33140, 33119, 33239, 
         33056, 33160, 33055, 33054]

In [3]:
data_to_load = "Zips_NW.csv"
zipcode_data = pd.read_csv(data_to_load)
zipcode_data

       zip      latit      longi
0    33114  25.811133 -80.249466
1    33002  25.887981 -80.327852
2    33018  25.944540 -80.422784
3    33017  25.962450 -80.324296
4    33016  25.913921 -80.358755
5    33015  25.957270 -80.350400
6    33014  25.932358 -80.328115
7    33013  25.883274 -80.294678
8    33012  25.885521 -80.328115
9    33011  25.846162 -80.302845
10   33010  25.860603 -80.305825
11   33092  25.541400 -80.443519
12   33090  25.498027 -80.499956
13   33039  25.507442 -80.414435
14   33035  25.452276 -80.422784
15   33034  25.313386 -80.634008
16   33031  25.551932 -80.511786
17   33032  25.544639 -80.400519
18   33030  25.501675 -80.550694
19   33033  25.513534 -80.460261
20   33149  25.735200 -80.183123
21   33181  25.921788 -80.171959
22   33182  25.803980 -80.422784
23   33183  25.716462 -80.428349
24   33184  25.777802 -80.425567
25   33185  25.755288 -80.483983
26   33186  25.686793 -80.422784
27   33187  25.620842 -80.489544
28   33188  25.821400 -80.333519
29   33189  25.594824 -80.361540
..     ...        ...        ...
94   33170  25.626635 -80.578475
95   33156  25.679395 -80.311398
96   33158  25.660188 -80.330901
97   33157  25.629992 -80.361540
98   33161  25.912363 -80.205445
99   33155  25.757419 -80.339258
100  33162  25.947479 -80.205445
101  33153  25.886918 -80.216978
102  33152  25.814623 -80.340651
103  33151  25.853580 -80.233244
104  33150  25.870163 -80.230552
105  33163  25.971400 -80.173519
106  33142  25.834179 -80.261227
107  33143  25.720781 -80.316971
108  33144  25.783593 -80.336473
109  33145  25.774866 -80.250073
110  33146  25.742721 -80.294678
111  33147  25.869310 -80.261227
112  33159  25.791400 -80.213519
113  33109  25.777414 -80.158003
114  33139  25.804712 -80.171959
115  33141  25.874963 -80.171959
116  33154  25.908557 -80.149628
117  33140  25.839079 -80.160794
118  33119  25.805628 -80.155698
119  33239  25.811385 -80.163501
120  33056  25.980905 -80.266803
121  33160  25.956138 -80.160794
122  33055  25.965982 -80.305825
123  33054  25.934082 -80.266803

[124 rows x 3 columns]

In [4]:
zipcode_data[:10]

     zip      latit      longi
0  33114  25.811133 -80.249466
1  33002  25.887981 -80.327852
2  33018  25.944540 -80.422784
3  33017  25.962450 -80.324296
4  33016  25.913921 -80.358755
5  33015  25.957270 -80.350400
6  33014  25.932358 -80.328115
7  33013  25.883274 -80.294678
8  33012  25.885521 -80.328115
9  33011  25.846162 -80.302845

In [5]:
# 3. Find the name and address of a gym in the zips. Needs to be gym as it is the type name provided by google
#    Hint: See https://developers.google.com/places/web-service/supported_types
namegymzip = []
addressgymzip = []
userratingszip = []
latgym = []
longym = []
pagetoken = []
gymsperzip = []
 
    #rewrite params dict
for i, row in zipcode_data.loc[:124,:].iterrows():
    params3 = {
        "location": f"{row['latit']},{row['longi']}",
        "types": "gym",
        "radius": 1250,
        "key": gkey
    }
    
    #print("params3...",params3)
    
    
# Build URL using the Google Maps API
    base_url3 = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #print("Fitness Center near ZIP")

# Run request
    response = requests.get(base_url3, params3)
    gym_zips = response.json()
    # Print the JSON (pretty printed)
    #pprint(json.dumps(gym_zips, indent=4, sort_keys=True))
    #print(response.url)
    gymsperzip.append(len(gym_zips["results"]))
    # TODO: Add Wait for API Limiting?
    #if len(gym_zips["results"])>0:

        #print("Gym Zips Length...")
        #print(len(gym_zips["results"]))
        #for place in gym_zips["results"]:
            #print("Place...",place["name"])
            #try:
                #namegymzip.append(place["name"])
                #addressgymzip.append(place["vicinity"])
                #userratingszip.append(place["user_ratings_total"])
                #latgym.append(place["geometry"]["location"]["lat"])
                #longym.append(place["geometry"]["location"]["lng"])
            #except:
                #userratingszip.append("na")
                #latgym.append("na")
                #longym.append("na")
print(gymsperzip)      
# Print the JSON (pretty printed)
    #pprint(json.dumps(gym_zips, indent=4, sort_keys=True))

[0, 14, 0, 0, 1, 0, 7, 1, 9, 1, 6, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 4, 0, 4, 0, 0, 3, 0, 6, 11, 2, 5, 2, 0, 1, 1, 0, 0, 9, 1, 8, 4, 6, 2, 7, 0, 0, 2, 0, 1, 1, 0, 5, 1, 0, 6, 1, 6, 20, 1, 0, 0, 0, 1, 20, 2, 20, 20, 0, 0, 8, 2, 7, 9, 12, 20, 20, 1, 0, 3, 4, 0, 10, 9, 2, 6, 0, 8, 0, 0, 4, 1, 1, 9, 0, 11, 6, 0, 1, 9, 1, 0, 6, 3, 0, 6, 3, 17, 9, 3, 3, 2, 8, 0, 0, 5, 8, 0, 0, 0, 0, 5, 3, 0]

In [6]:
zipcode_dict2 = {
    "zip": Zip_code,
    "Gyms per Zip": gymsperzip
}

zipcode_data = pd.DataFrame(zipcode_dict2)
zipcode_data

       zip  Gyms per Zip
0    33114             0
1    33002            14
2    33018             0
3    33017             0
4    33016             1
5    33015             0
6    33014             7
7    33013             1
8    33012             9
9    33011             1
10   33010             6
11   33092             0
12   33090             0
13   33039             4
14   33035             0
15   33034             0
16   33031             0
17   33032             0
18   33030             0
19   33033             0
20   33149             0
21   33181             4
22   33182             0
23   33183             4
24   33184             0
25   33185             0
26   33186             3
27   33187             0
28   33188             6
29   33189            11
..     ...           ...
94   33170             0
95   33156            11
96   33158             6
97   33157             0
98   33161             1
99   33155             9
100  33162             1
101  33153             0
102  33152             6
103  33151             3
104  33150             0
105  33163             6
106  33142             3
107  33143            17
108  33144             9
109  33145             3
110  33146             3
111  33147             2
112  33159             8
113  33109             0
114  33139             0
115  33141             5
116  33154             8
117  33140             0
118  33119             0
119  33239             0
120  33056             0
121  33160             5
122  33055             3
123  33054             0

[124 rows x 2 columns]

In [7]:
zipcode_data.to_csv("Number_Gyms_NW_Zip(r=1250).csv", encoding="utf-8", index=False)