In [1]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np
import csv
from pprint import pprint

# Google developer API key
from config import gkey

In [2]:
#Read Dataframes
miacensus=pd.read_csv("miacensus_data.csv", encoding="utf-8")
miacensus.head()

,Zipcode,Income,Population,Population White,Population White.1,Population Black,Population American Indian,Population Asian,Population Hawaiian,Population 2 or more Races,Population Hispanic,Age,Median Male Age,Median Female Age
0,33010,23876.0,47581.0,44920.0,44920.0,1607.0,37.0,56.0,24.0,299.0,45591.0,44.0,42.9,45.1
1,33012,30901.0,76384.0,71777.0,71777.0,1461.0,6.0,181.0,0.0,705.0,73752.0,45.2,43.9,46.6
2,33013,28886.0,33430.0,31904.0,31904.0,947.0,0.0,36.0,0.0,147.0,32144.0,45.6,44.0,47.0
3,33014,37142.0,40187.0,36770.0,36770.0,1583.0,36.0,316.0,0.0,444.0,35651.0,40.5,38.4,42.8
4,33015,48170.0,68143.0,58149.0,58149.0,6212.0,100.0,885.0,0.0,715.0,56356.0,37.0,35.6,38.2

In [4]:
gyms =pd.read_csv("Number_Gyms_per_Zip(r=1000).csv", encoding="utf-8")
gyms.head()

     zip      latit      longi  Gyms per Zip
0  33114  25.789733 -80.225947             6
1  33002  25.866581 -80.304334             3
2  33018  25.923140 -80.399265             0
3  33017  25.941050 -80.300777             5
4  33016  25.892521 -80.335236            17

In [ ]:
#Get Data from frames:
#Find Mean and Median Income per Zipcode
#Find Mean and Median Age per Zipcode
#Find Mean and Median Education per Population
#Count for gyms per zipcode

Create Dataframe

In [ ]:
#Merge Both Dataframes on Zip Code only keeping where both data are available

#If time merge with other datframes such as kaggle income and yelp

Frequency and Zip Code

In [ ]:
#Heat Map with gyms and Zipcodes

Frequency and Income

In [ ]:
#Line Graph comparing Income of zipcodes from least to greatest and Frequency

Frequency and Age

In [ ]:
#Line Graph comparing age of zipcodes from least to greatest and Frequency

Frequency and Education

In [ ]:
#Line Graph comparing education of zipcodes from least to greatest and Frequency