In [1]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np
import csv
from pprint import pprint

# Google developer API key
from config import gkey

In [2]:
#Read Dataframes
miacensus=pd.read_csv("miacensus_data.csv", encoding="utf-8")
miacensus.head()

,Zipcode,Income,Population,Population White,Population White.1,Population Black,Population American Indian,Population Asian,Population Hawaiian,Population 2 or more Races,Population Hispanic,Age,Median Male Age,Median Female Age
0,1001,56714.0,17423.0,15974.0,15974.0,256.0,5.0,703.0,24.0,184.0,1314.0,45.0,41.6,48.1
1,1002,48923.0,29970.0,23459.0,23459.0,1711.0,140.0,3502.0,17.0,911.0,1870.0,23.2,23.3,23.2
2,1003,2499.0,11296.0,8698.0,8698.0,660.0,30.0,1538.0,0.0,240.0,526.0,19.9,19.9,19.9
3,1005,70568.0,5228.0,5063.0,5063.0,105.0,0.0,32.0,18.0,8.0,77.0,44.1,41.6,47.4
4,1007,80502.0,14888.0,13906.0,13906.0,125.0,0.0,443.0,0.0,380.0,305.0,42.5,40.2,43.8

In [ ]:
#Get Data from frames:
#Find Mean and Median Income per Zipcode
#Find Mean and Median Age per Zipcode
#Find Mean and Median Education per Population
#Count for gyms per zipcode

Create Dataframe

In [ ]:
#Merge Both Dataframes on Zip Code only keeping where both data are available

#If time merge with other datframes such as kaggle income and yelp

Frequency and Zip Code

In [ ]:
#Heat Map with gyms and Zipcodes

Frequency and Income

In [ ]:
#Line Graph comparing Income of zipcodes from least to greatest and Frequency

Frequency and Age

In [ ]:
#Line Graph comparing age of zipcodes from least to greatest and Frequency

Frequency and Education

In [ ]:
#Line Graph comparing education of zipcodes from least to greatest and Frequency